html{
    background:#fff8dc;
}
h1{
    padding:1em 1em 0em 1em;
    color: #8B4513;
    text-align: center;
    font-family: Serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
a{
    text-decoration: none;
    color:#B8860B
}
ul{
    list-style-type: none;
    float:left;
    display: inline;
    font-family: sans-serif;
}
.links li{
    font-size: .8em;
    float:left;
    padding: 1em 1em 1em 1em;
}
div.foodmenu ul{
    float:none;
}
.home p{
    color:663300;
}
