/*CSS document*/


div.logo{
    max-width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    color:#AAD2C3;
    font-size: 1em;
    text-decoration: none;
    
}
a:hover {
  color: #0B3B60;
}

}
.links li{
    font-size: .5em;
    padding: 1em 1em 1em 1em;
    
}

.links ul{
    list-style-type: none;
    text-align: center;
    background-color:#6B8C8B;
    border: thin #0B3B60 solid;
}

body {
    background-color: #C0CECE;
}
figure {
    text-align: center;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 300;
    font-style: italic;
}
h3{
    font-size: 2em;
    font-family: quador-display,serif;
    font-weight: 500;
    font-style: normal;
    color: #0B3B60; 
    
}

p{
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#425655;
}

div.container {
    max-width: 40em;
    margin: auto;
}


img {
  width: 100%;
}

section.mainstory h3 {
    font-size: 2em;
    font-family: quador-display,serif;
    font-weight: 500;
    font-style: normal;
}

section.mainstory p{
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    padding:  0em 0em 0em 0em ;
}
section.otherstories h3 {
    font-family: quador-display,serif;
    font-weight: 300;
    font-style: normal;
}

